@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Vissionary

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #f9b910;
$tertiary_color: #231f20;
$background: #f2f2f2;
$border: #fff;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: $tertiary_color;
	.moduletable_to1 {
		padding: 15px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 6px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 5px 4px;
							border: 1px solid transparent;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		a {
			margin: 0 5px;
			display: inline-block;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font: {
			size: 40px;
			weight: bold;
		}
	}
	h2 {
		font: {
			size: 32px;
			weight: bold;
		}
	}
	h3 {
		font: {
			size: 32px;
			weight: bold;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	#box_1 {
		color: #fff;
		h3 {
			color: #fff;
		}
	}
	#box_tabs {
		.left_part {
			background-color: $tertiary_color;
			h3 {
				margin: 20px 0;
				font-size: 18px;
				color: $secondary_color;
				text-align: center;
			}
			ul.tabs {
				background: none;
				border: 0;
				li.tabs-title {
					a {
						border-bottom: 1px solid #fff;
						color: #fff;
						&:hover {
							color: $tertiary_color;
						}
					}
					&.is-active {
						a {
							color: $tertiary_color;
						}
					}
				}
			}
		}
		.right_part {
			.tabs-content {
				border: 0;
				color: $primary_color;
			}
		}
	}
	.moduletable_ri1 {
		h3 {
			font-size: 20px;
			text-align: center;
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	.moduletable_b11 {
		#a {
			h3 {
				font: {
					size: 32px;
					weight: bold;
				}
				color: #fff;
			}
			ol {
				margin-bottom: 0;
				li {
					padding: 10px 0;
					border-top: 1px solid $border;
					color: #fff;
				}
			}
		}
		#b {}
		#c {
			margin-top: -240px;
			position: relative;
			z-index: 10;
			img {
				width: 100px;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	.moduletable_b21 {
		#a {}
		#b {
			h3 {
				font: {
					size: 32px;
					weight: bold;
				}
				color: #fff;
			}
			ul {
				margin-bottom: 0;
				li {
					padding: 5px 0;
					font-size: 24px;
					color: #fff;
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 20px 0;
	.moduletable_b31 {
		h2 {
			width: 50%;
			margin: 0;
			padding: 0 10px;
			font-size: 18px;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			padding: 0 10px;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 50%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $tertiary_color;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	.moduletable_bo1 {
		#a {
			padding: 15px 0;
			background-color: $primary_color;
			color: #fff;
			a {
				padding: 5px;
				border: 1px solid #fff;
				color: #fff;
				line-height: 40px;
			}
		}
		#b {
			padding: 15px 0;
			background-color: $tertiary_color;
			color: #fff;
			a {
				padding: 5px;
				border: 1px solid #fff;
				color: #fff;
				line-height: 40px;
			}
		}
		#c {
			padding: 15px 0;
			background-color: $background;
			color: $primary_color;
			a {
				padding: 5px;
				border: 1px solid $primary_color;
				color: $primary_color;
				line-height: 40px;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $secondary_color;
	color: $tertiary_color;
	a {
		color: $tertiary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Block 3 */

	.block_3 {
		.moduletable_b31 {
			h2 {
				width: 100%;
				margin-bottom: 10px;
				font-size: 16px;
				float: none;
			}
			.tnp-widget {
				width: 100%;
				float: none;
				.tnp-field-email {
					width: 60%;
				}
				.tnp-field-button {
					width: 40%;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}